<!-- INCLUDE ../../../../templates/default/page_header.html -->
<form method="post" action="{F_IMPORT}" name="post" onsubmit="return check_form(this)">
<table width="100%" border="0">
  <tr><th>Paste XML Export from AddOn</th></tr>
  <tr><td><textarea name="xml" id="xml" rows="20" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize: none;"></textarea></td></tr>
  <tr><th><input type="submit" name="parse" value="Parse XML" class="mainoption"/></th></tr>
</table>
</form>
<!-- INCLUDE ../../../../templates/default/page_tail.html -->
